/* ==========================================================================
   Helpers
   ========================================================================== */
   
// No margin
@each $bp in map-keys($grid-breakpoints) {
  .m-b-0-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      margin-bottom: 0 !important;
    }
  }
  .m-b-0-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      margin-bottom: 0 !important;
    }
  }
}

@each $bp in map-keys($grid-breakpoints) {
  .m-t-0-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      margin-top: 0 !important;
    }
  }
  .m-t-0-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      margin-top: 0 !important;
    }
  }
}

// No padding
@each $bp in map-keys($grid-breakpoints) {
  .p-b-0-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      padding-bottom: 0 !important;
    }
  }
  .p-b-0-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      padding-bottom: 0 !important;
    }
  }
}

@each $bp in map-keys($grid-breakpoints) {
  .p-t-0-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      padding-top: 0 !important;
    }
  }
  
  .p-t-0-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      padding-top: 0 !important;
    }
  }
}