/* ==========================================================================
   Forms
   ========================================================================== */
.form-group {
  @include rem(margin, 0 0 $gutter-sm);
}

.form-control {
  resize: none;
  @include rem(padding, $gutter-xs ($gutter-md/2));

  &:focus {
    outline: none;
    border-color: $input-border-color;
    border-bottom-color: $yellow;
    // border-bottom: 2px solid $yellow;
    box-shadow: inset 0 -2px 0 0 $yellow;
  }
}