/* ==========================================================================
   Type
   ========================================================================== */
// @import url(//fonts.googleapis.com/css?family=Open+Sans);

// @include fontface('GT-Walsheim-Pro', 'GT-Walsheim-Pro-Light', 'normal', 100);
// @include fontface('GT-Walsheim-Pro', 'GT-Walsheim-Pro-Regular', 'normal', 300);
// @include fontface('GT-Walsheim-Pro', 'GT-Walsheim-Pro-Medium', 'normal', 500);
// @include fontface('GT-Walsheim-Pro', 'GT-Walsheim-Pro-Bold', 'normal', 700);

body {
  @include rem(font-size, $font-size-root);
  color: colors(black);
}

/* ==========================================================================
  Headings
   ========================================================================== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-family-sans-serif;
  font-weight: 700;
  color: $grey;
}

h1, .h1 {
  @include rem(font-size, $h1-size-sm);
  @include rem(line-height, $h1-height);

  @include media-breakpoint-up(sm) {
    @include rem(font-size, $h1-size);
  }
}

h2, .h2 {
  @include rem(font-size, $h2-size-sm);
  @include rem(line-height, $h2-height);

  @include media-breakpoint-up(sm) {
    @include rem(font-size, $h2-size);
  }
}

h3, .h3 {
  @include rem(font-size, $h3-size-sm);
  @include rem(line-height, $h3-height-sm);

  @include media-breakpoint-up(sm) {
    @include rem(font-size, $h3-size);
    @include rem(line-height, $h3-height);
  }
}

h4, .h4 {
  @include rem(font-size, $h4-size-sm);
  @include rem(line-height, $h4-height);

  @include media-breakpoint-up(sm) {
    @include rem(font-size, $h4-size);
  }
}

h5, .h5 {
  @include rem(font-size, $h5-size);
  @include rem(line-height, $h5-height);
}

h6, .h6 {
	@include rem(font-size, $h6-size);
  @include rem(line-height, $h6-height);
}

h1, .h1, h2, .h2 {
  @include rem(margin, 0 0 $gutter-md);
}

h3, .h3 {
  @include rem(margin, 0 0 $gutter-sm);
}

h4, .h4, h5, .h5, h6, .h6 {
  @include rem(margin, 0 0 $gutter-xs);
}

small {
  @include rem(font-size, $small-size);
  @include rem(line-height, $small-height);
}

/* ==========================================================================
  Paragraphs, Lists
   ========================================================================== */
p, ul, ol {
  @include rem(margin, 0 0 $gutter-md);
}

ul, ol {
  padding: 0;
  @include rem(line-height, $list-height);
}

ul {
  list-style: none;

  li {
    @extend %before;
    @include rem(padding, 0 0 0 $gutter-xs);

    &:before {
      content: "• ";
      color: $yellow;
      transform: translateX(-$gutter-xs);
      @include rem(font-size, $h4-size);
    }
  }
}

hr {

}

/* ==========================================================================
  Links
   ========================================================================== */
a {
  &:hover {

  }

  &:active, &:focus, &:visited {

  }
}
