/* ==========================================================================
  Form
  ========================================================================== */
$module: 'swatch';

.#{$module} {
  @extend %before;
  min-width: 95px;
  display: inline-block;
  text-align: center;
  @include rem(margin, 0 $gutter-sm $gutter-lg 0);

  &:before {
    height: $icon-lg;
    width: $icon-lg;
    border-radius: 50%;
  }
  /* ==========================================================================
  Elements
  ========================================================================== */
  

  /* ==========================================================================
  Modifiers
  ========================================================================== */
  @each $color, $swatch in $colors {
    &--#{$color} {
      @extend %before;

      &:before {
        background-color: $swatch;
      }
    }
  }
}