<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}
<h1>Title</h1>
<!-- Adds the navigation partial -->
{% include "partials/nav.njk" %}

<p>Some icons</p>
<svg class="icon icon-anchor">
  <use xlink:href="#icon-anchor"></use>
</svg>
<svg class="icon">
  <use xlink:href="#icon-amazon"></use>
</svg>

<svg class="icon icon-">
  <use xlink:href="#icon-"></use>
</svg>
{% endblock %}
